/*Курс «Старт в программировании»*/
  
/*Восьмая программа*/
h1 {
    font-size: 20px;
  }
  
h1 + .results {
    margin-top: 20px;
  }
  
th {
    font-weight: normal;
    background-color: #dad7f4;
    text-align: left;
  }
  
td:nth-child(5) > span {
    font-weight: bold;
  }
  
.disqualified {
    text-decoration: line-through;
  }
  
.player-1 .total {
    background-color: silver;
  }
  
.player-2 .total {
    background-color: gold;
  }
  
.player-3 .total {
    background-color: red;
  }
  
.player-4 .total {
    background-color: chocolate;
  }
  
/*Девятая программа*/
/* Общее оформление */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 550px;
  font-size: 14px;
  font-family: "Tahoma", "Arial", sans-serif;
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  
  width: 300px;
  padding: 10px;
}

.picture {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 5px solid burlywood;

  text-align: center;

  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 64px 64px;
  background-color: white;

  border-radius: 10px;
}

/* Оформление картинок */
.picture.cat-foodlove {
  background-image: url("cat-foodlove.svg");
  background-color: white;
}

#scary.cat-slippers {
  background-image: url("cat-slippers.svg");
}

.picture.cat-cage {
  background-image: url("cat-cage.svg");
  color: black !important;
  border-color: burlywood;
}

.picture.cat-fat {
  background-image: url("cat-fat.svg");
  width: 100px;
  height: 100px;
}

/*Десятая программа*/
body {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 15px;

  font-size: 0;
  text-align: center;
  background-color: white;
}

.block {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-bottom: 1px;
  margin-right: 1px;

  background-color: black;
}

.block1 {
  background: #000000 url("cat_poo.png") no-repeat 50% 50%;
}

.block2 {
  background: #f1c40f url("cat_poo.png") no-repeat 50% 50%;
}

.block3 {
 background: #e74c3c url("cat_hiss.png") no-repeat 50% 50%; 
}

.block4 {
 background: #3498db url("cat_walk.png") no-repeat 60px 50%;
}

.block5 {
 background: #3498db url("cat_walk.png") no-repeat -30px 50%
}

.block6 {
 background: #27ae60 url("cat_slippers.png") no-repeat 50% 50%;
}

.block7 {
  background: #bdc3c7;
}

.block8 {
 background: #95a5a6 url("cat_grumpy.png") no-repeat 41px 50%;
}

.block9 {
  background: #bdc3c7 url("cat_grumpy.png") no-repeat -50px 50%;
}
